*{
    font-size: 20px;    
}
img{
    width: 200px;
    
}
.infospessoa{
    border: solid black 3px;
    background-color: rgb(16, 3, 2);
    padding: 25px;
}
td, th{
    padding: 19px 0;
    /* border: solid black 2px ; */
}
.coiso{
    align-items: center;
    justify-content: center;
    padding-left: 15%;
}
body{
    /* background-color: rgba(93, 19, 35, 0.914); */
    background-image: linear-gradient(to top, #6d0f70, #cc69c4, #ec94c7);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url(/static/imgs/imag1.jpg); */
}
.mnhei{
    
    min-height: 100vh;
}
/* footer do começo */


footer{
    /* background-color: rgb(223, 97, 97); */
    /* margin-top: 40vh; */
    margin-top: auto ;
}

.segundo{
    display: flex;
    flex-direction: row;
    align-items: end ;
    justify-content: space-between;
}
.segundo span:nth-child(n+3){
    margin-left:15px;
}
.direito span a{
    text-decoration: none;
    color: #222;
}
.direito span a:hover{
    text-decoration: underline;
    color: aliceblue;
}