*{
    font-size: 20px;    
}
img{
    width: 200px;
    
}
.infospessoa{
    border: solid black 3px;
    background-color: rgb(16, 3, 2);
    padding: 25px;
}
td, th{
    padding: 19px 0;
    /* border: solid black 2px ; */
}
.coiso{
    align-items: center;
    justify-content: center;
    padding-left: 15%;
}
body{
    height: 600px;
    height: 600px;
    /* background-color: rgba(201, 24, 62, 0.133); */
    background-image: linear-gradient(to top, #6d0f70, #cc69c4, rgb(236, 148, 199)) ;
    background-repeat: no-repeat;
    background-size: cover;
}