{% extends 'base.html' %}
{% load static %}

{% block content %}

    {%if alunos%}

<div class="coiso">

     <table class="col-md-4 w-75">
            <tr class="text-center md-4 col-md-4 text-danger ">
                <!-- <th>NOME DOS USUARIOS </th> -->
                <!-- <th>Email</th> -->
                <!-- <th>Cadastrados</th> -->
            </tr>

        {% for aluno in alunos %}

        <tr class="text-center md-4 col-md-4 ">
            <td>{{ aluno.nome}}</td>
            <!-- <td>{{ aluno.email}}</td> -->

            <td>
                <a href="{% url 'aluno' id=aluno.id %}" class="btn btn-danger btn-sm ">Entrar</a>
                <a href="{% url 'editar' id=aluno.id %}" class="btn btn-danger btn-sm ">editar</a>
                <a href="{% url 'deletar' id=aluno.id %}" class="btn btn-danger btn-sm ">deletar</a>
            </td>
        </tr> 

        {% endfor%}
    </table>
</div>
        
        
    
   {% else %}
   <p> Sem alunos para apresentar no momento</p>
   {% endif %} 

{% endblock%}